# Logs
logs
*.log

# Grunt
.grunt
.backups
package-lock.json

# Compiled
.tmpdeploy
.lambda_module.zip

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript
.env
event.json
.DS_Store
.rebooted
private_config.json


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
AWS/apigateway/swagger.json
config_aws.sh
ptest-web-firebase-adminsdk.json
